<div id="bodymargin">
<div class="container"> 
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Score Designs', designs_path %></li>
    <li class="active">Add New Design</li>
  </ol>

  <h2>Add New Design</h2>

  <%= render 'form' %>

</div>
</div>