<br><br>
<div class="container"> 
  <ol class="breadcrumb">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Score Designs', designs_path %></li>
    <li class="active">Add New Design</li>
  </ol>

  <h1>Add New Design</h1>

  <%= render 'form' %>

<div>