<div id="wrap">
  <div id="main">
    <div id="bodymargin">
      <div class="container">
        <h2>Join our monthly design challenge!</h2>
      <div class="col-lg-4">
        Testing.</p>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'layouts/footer' %>