<div class="videoWrapper">
<script src="http://p.jwpcdn.com/6/8/jwplayer.js"></script>
<div id='playerCgNWYPJeRjxA'></div>
<script type='text/javascript'>
    jwplayer('playerCgNWYPJeRjxA').setup({
        plugins: {
          'javascripts/jwplayer.shuffle.min.js': {
            autostart: true,
            repeatplaylist: true,
            shuffle: true
          }
        },
        width: '100%',
        aspectratio: '16:9',
        controls: 'false',
        dock: 'false',
     playlist: [{
    
        file: 'https://www.youtube.com/watch?v=mm6CBbwuDxc&feature=youtu.be',
        image: '../video/images/fitness-video2-big.jpg',
        title: 'Simba Brawl'
        },{  

        file: 'https://www.youtube.com/watch?v=aCYegJfo22c',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Al Hrabosky Fight'
        }]
        
        });
</script>
</div>

<div class="container">
</div>