<div class="videoWrapper">
<script src="http://p.jwpcdn.com/6/8/jwplayer.js"></script>
<div id='playerCgNWYPJeRjxA'></div>
<script type='text/javascript'>
    jwplayer('playerCgNWYPJeRjxA').setup({
        plugins: {
          'javascripts/jwplayer.shuffle.min.js': {
            autostart: true,
            repeatplaylist: true,
            shuffle: true
          }
        },
        width: '100%',
        aspectratio: '16:9',
        controls: 'false',
        dock: 'false',
     playlist: [{
    
        file: 'https://www.youtube.com/watch?v=mm6CBbwuDxc&feature=youtu.be',
        image: '../video/images/fitness-video2-big.jpg',
        title: 'Simba Brawl'
        },{  

        file: 'https://www.youtube.com/watch?v=aCYegJfo22c',
        image: '../video/images/fitness-video3-big.jpg',
        title: 'Al Hrabosky Fight'
        }]
        
        });
</script>
</div>
<br><br>  
<div class="container">         
            <div class="jumbotron">
                    <h1>Welcome to the Saint Louis Thread Company<h1><h2>Durable Dry Goods Inspired by the City of Saint Louis</h2>
                    <br>
                    This website is currently under construction. Check back in a couple weeks for our soft launch, which will also include our <a href="http://www.reddit.com/r/stlthreadco/" target="_blank">subreddit</a> that we hope will develop into a robust community.    
            </div>
</div>

<center><h1>About</h1></center>