<div id="wrap">
  <div id="main">
<div id="bodymargin">
  <div class="container">
    <div class="col-lg-8">
      <h2>Oops!</h2>
        <%= render 'form', :inquiry => @inquiry %>
    </div>
  </div>
</div>
</div>
</div>
<%= render 'layouts/footer' %>