<div id="wrap">
  <div id="main">
<div id="bodymargin">
  <div class="container">
    <h2>Thanks!</h2>
      <div class="col-lg-4">
        We'll be in touch as soon as possible. Have an ice cold Busch in the meantime (if you're of the legal drinking age, of course) and thank your lucky stars you're from the fine city of Saint Louis Missouri, damnit!</p>
      </div>
      <div class="col-lg-4">
        <img src="images/whitey.jpg">
      </div>
  </div>
</div>
</div>
</div>
<%= render 'layouts/footer' %>