<section id="footer">
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-12">
                        <h3>Follow Us</h3>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/pages/Saint-Louis-Thread-Company/499275816872924" class="btn-social btn-primary"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/b/102394252505370827756/102394252505370827756/about" class="btn-social btn-primary"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li><a href="https://twitter.com/stlthreadco" class="btn-social btn-primary"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li><a href="http://instagram.com/stlthreadco" class="btn-social btn-primary"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            <li><a href="http://blog.saintlouisthreadcompany.com" class="btn-social btn-primary"><i class="fa fa-fw fa-tumblr"></i></a>
                            <li><a href="http://pinterest.com/stlthreadco" class="btn-social btn-primary"><i class="fa fa-fw fa-pinterest"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2014 Saint Louis Thread Company. All Rights Reserved.  
                    </div>
                </div>
            </div>
        </div>
  </footer>
</section>