<head>

  <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->

    <meta name="p:domain_verify" content="edee916e87cdd69f193437d196cca034"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saint Louis Thread Company Official Website</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/freelancer.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <script src="javascripts/jquery-1.10.2.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="javascripts/classie.js"></script>
    <script src="javascripts/cbpAnimatedHeader.js"></script>
    <script src="javascripts/freelancer.js"></script>
    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav navbar-left">
      <a class="navbar-brand" href="/">Saint Louis Thread Company</a>
      </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://saintlouisthreadcompany.com#about">About</a></li>
        <li><a href="http://blog.saintlouisthreadcompany.com">Blog</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Participate <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://saintlouisthreadcompany.com/designchallenge">Submit & Score Designs</a></li>
            <li class="divider"></li>
            <li><a href="http://forums.saintlouisthreadcompany.com">Forums</a></li>
          </ul>
        </li>
        <li><a href="http://shop.saintlouisthreadcompany.com">Shop</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>